.dropdown{
    margin:10px;
}
.btn{
    display: inline-block;
    margin-left: 80%;
}
.agenda{
    max-width: 80%;
    margin: 3% 10%;
}
.form-group{
    width: fit-content;
    display: inline-block;
    margin-left: 80%;
}