.nav{
  height: auto;
  background-color: #016d38;
  font-size: 24px;
  font-family: Roboto,sans-serif;
  padding-left: 10%;
  height: 100px;
}

.nav-item{
  margin-top: 1%;
}

.nav-link {
  color: white;
}
.nav-link:hover{
  color:yellow;
  text-decoration: underline;
}
.logo-navbar{
   margin-left: 50%;
   margin-top: -3%;
}