<!-- Footer -->
<footer class="bg-custom text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/SegurosBolivar/" target="_blank" role="button"
          ><fa-icon [icon]="faFacebook"></fa-icon></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/SegurosBolivar" target="_blank" role="button"
          ><fa-icon [icon]="faTwitter"></fa-icon></a>
  
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/segurosbolivaroficial/?hl=es" target="_blank" role="button"
          ><fa-icon [icon]="faInstagram"></fa-icon></a>
  
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://co.linkedin.com/company/seguros-bolivar" target="_blank" role="button"
          ><fa-icon [icon]="faLinkedin"></fa-icon></a>
      </section>
      <!-- Section: Social media -->
  
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Comuníquese con nosotros, marcando sin costo desde cualquier celular al #322 o a nivel nacional al 018000 123322,
           y de inmediato lo pondremos en contacto con uno de nuestros Asesores.
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">ACERCA DE NOSOTROS</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://www.segurosbolivar.com/quienes-somos" class="text-custom">Quiénes somos</a>
              </li>
              <li>
                <a href="https://www.segurosbolivar.com/gobierno-corporativo" class="text-custom">Gobierno Corporativo</a>
              </li>
              <li>
                <a href="https://www.segurosbolivar.com/documentos-del-sistema-de-gobierno-corporativo" class="text-custom">Documentos del Sistema de Gobierno Corporativo</a>
              </li>
              <li>
                <a href="https://www.segurosbolivar.com/sobre-el-buen-gobierno" class="text-custom">Sobre el Buen Gobierno</a>
              </li>
              <li>
                <a href="https://www.segurosbolivar.com/junta-directiva" class="text-custom">Junta Directiva</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

            <ul class="list-unstyled mb-0">
              <p></p>
              <li>
                <a href="https://www.superfinanciera.gov.co/jsp/index.jsf" target="_blank" class="text-custom">Superintendencia Financiera</a>
              </li>
              <li>
                <a href="https://www.segurosbolivar.com/sistema-de-atencion-al-consumidor-financiero" class="text-custom">Sistema de atención al consumidor financiero</a>
              </li>
              <li>
                <a href="https://d9b6rardqz97a.cloudfront.net/wp-content/uploads/2019/12/03215926/SUCIS.pdf" target="_blank" class="text-custom">Nuestros asesores</a>
              </li>
              <li>
                <a href="https://www.segurosbolivar.com/modelo-de-sostenibilidad" class="text-custom">Modelo de Sostenibilidad</a>
              </li>
              <li>
                <a href="https://www.segurosbolivar.com/dimension-ambiental" class="text-custom">Dimensión ambiental</a>
              </li>
              <li>
                <a href="https://www.segurosbolivar.com/sucursales-y-oficinas" class="text-custom">Oficinas</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">INFORMES</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://www.segurosbolivar.com/informes-financieros" class="text-custom">Informes Financieros</a>
              </li>
              <li>
                <a href="https://www.segurosbolivar.com/informes-de-sostenibilidad" class="text-custom">Informes de Sostenibilidad</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <p></p>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://www.segurosbolivar.com/politicas-de-uso" class="text-custom">Políticas de Seguridad
                  </a>
              </li>
              <li>
                <a href="https://www.segurosbolivar.com/politicas-de-privacidad" class="text-custom">Políticas de Privacidad</a>
              </li>
              <li>
                <a href="https://www.segurosbolivar.com/ley-fatca" class="text-custom">Ley FATCA</a>
              </li>
              <li>
                <a href="https://www.segurosbolivar.com/terminos-y-condiciones" class="text-custom">Términos y condiciones de uso</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://www.segurosbolivar.com/">Seguros Bolívar S.A. - Todos los derechos reservados</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->